[apt]
# Simple packages (no post-install hooks needed)

packages = [

    "sudo",
    "lm-sensors",

    # Desktop Environment
    "i3",
    "i3blocks",
    "lightdm",
    "x11-xserver-utils",
    "picom",
    "rofi",
    "feh",
    "caffeine",
    "xscreensaver",
    "xscreensaver-data-extra",
    "xscreensaver-gl-extra",

    # Terminal & Shell
    "alacritty",
    "tmux",
    "fish",

    # Network Tools
    "nm-tray",
    "blueman",
    "syncthing",
    "syncthing-gtk",
    "bind9-dnsutils",
    "whois",
    "nmap",
    "traceroute",
    "tcpdump",
    "net-tools",
    "network-manager-applet",

    # Display Management
    "autorandr",
    "redshift-gtk",
    "light",

    # Development Tools
    "git",
    "neovim",
    "make",
    "gcc",
    "gdb",
    "nasm",
    "universal-ctags",
    "clang-format",

    # System Utilities
    "tree",
    "htop",
    "btop",
    "fastfetch",
    "ripgrep",
    "fzf",
    "jq",
    "curl",
    "wget",
    "zip",
    "unzip",
    "direnv",
    "coreutils",
    "ncal",
    "xclip",
    "duf",
    "ncdu",
    "bc",

    # Security & Authentication
    "gnupg2",
    "pinentry-tty",

    # File Manager & Media
    "thunar",
    "vlc",
    "transmission",
    "evince",
    "xfce4-screenshooter",
    "peek",

    # Fonts
    "fonts-firacode",

    # Performance Tools
    "linux-perf",

    # Documentation
    "glibc-doc",

    # Libraries (for ebitenengine/game development)
    # "libx11-dev",
    # "libxcomposite-dev",
    # "libxrandr-dev",
    # "mesa-common-dev",
    # "libxcursor-dev",
    # "libxinerama-dev",
    # "libxi-dev",
    # "libxxf86vm-dev",

    # Audio (pipewire dependencies)
    "wireplumber",
    "pipewire-pulse",
    "pipewire-alsa",
    "libspa-0.2-bluetooth",

    # video
    "ffmpeg",
    "brightnessctl",
]

# Packages with post-install hooks or special handling
[[apt.post_hook]]
name = "pipewire-audio"
post_install = '''
systemctl --user --now enable wireplumber.service
'''

[[apt.post_hook]]
name = "openresolv"
post_install = '''
rm /etc/resolv.conf
sudo resolvconf -u
sudo systemctl restart tailscaled

// check logs, you should see dns: using "openresolv"
// journalctl -u tailscaled | grep "dns:"

sudo sed -i '/^\[main\]/a dns=default' /etc/NetworkManager/NetworkManager.conf

sudo systemctl restart NetworkManager
//sudo tailscale up --reset
'''

[dotfiles]
source_dir = "~/dotfiles/sources"

# fish_ssh_agent

[[dotfiles.file]]
src = "alacritty/alacritty.toml"
dest = "~/.config/alacritty/alacritty.toml"

[[dotfiles.file]]
src = "alacritty/themes/alabaster.toml"
dest = "~/.config/alacritty/themes/alabaster.toml"

[[dotfiles.file]]
src = "tmux/tmux.conf"
dest = "~/.config/tmux/tmux.conf"

[[dotfiles.file]]
src = "nvim/init.vim"
dest = "~/.config/nvim/init.vim"

[[dotfiles.file]]
src = ".vimrc"
dest = "~/.vimrc"

[[dotfiles.file]]
src = "i3/config"
dest = "~/.config/i3/config"

[[dotfiles.file]]
src = "i3/status.conf"
dest = "~/.config/i3/status.conf"

[[dotfiles.file]]
src = "i3/seattle.jpg"
dest = "~/.config/i3/seattle.jpg"

[[dotfiles.file]]
src = "picom/picom.conf"
dest = "~/.config/picom/picom.conf"

[[dotfiles.file]]
src = "xorg/20-amdgpu.conf"
dest = "/etc/X11/xorg.conf.d/20-amdgpu.conf"
mode = "copy"
sudo = true

[[dotfiles.file]]
src = "config.fish"
dest = "~/.config/fish/config.fish"

[[dotfiles.file]]
src = "autorandr/docked/config"
dest = "~/.config/autorandr/docked/config"

[[dotfiles.file]]
src = "autorandr/docked/setup"
dest = "~/.config/autorandr/docked/setup"

[[dotfiles.file]]
src = "autorandr/mobile/config"
dest = "~/.config/autorandr/laptop/config"

[[dotfiles.file]]
src = "autorandr/mobile/setup"
dest = "~/.config/autorandr/laptop/setup"

[[dotfiles.file]]
src = "autorandr/postswitch"
dest = "~/.config/autorandr/postswitch"
executable = true

[[dotfiles.file]]
src = ".ssh/config"
dest = "~/.ssh/config"

[[dotfiles.file]]
src = ".gitconfig"
dest = "~/.gitconfig"

[[dotfiles.file]]
src = ".gitconfig.work"
dest = "~/.gitconfig.work"

[[dotfiles.file]]
src = ".gitignore"
dest = "~/.gitignore"

[[dotfiles.file]]
src = "redshift.conf"
dest = "~/.config/redshift.conf"
mode = "copy"

[[dotfiles.file]]
src = "btop/btop.conf"
dest = "~/.config/btop/btop.conf"

[[git]]
url = "https://github.com/tmux-plugins/tpm"
dest = "~/.tmux/plugins/tpm"

[[go]]
path = "github.com/golangci/golangci-lint/v2/cmd/golangci-lint"
version = "v2.9.0"

[[go]]
path = "mvdan.cc/gofumpt"
version = "v0.9.2"
